* {
    padding: 0px;
    margin: 0px;
    font-family: "Arial";
    font-weight: bold;
}

.wrapper {
    height: 100vh;
    box-sizing: border-box;
    background-color: #EAF2E3;
}

.wrapper>div {
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: #F2A05D;
}

.menu {
    background-color: #F2E863;
}

.main {
    background-color: #61E8E1;
}

.ad1 {
    background-color: #F25757;
}

.ad2 {
    background-color: #F25757;
}

.footer {
    background-color: #F2A05D;
}